@font-face {
  font-family: "Basier";
  src: url("../fonts/BasierCircle-Regular.woff");
  font-weight: normal;
}

html,
body {
  margin: 0;
  font-family: "Basier", serif;
  background-color: #181c25;
  color: #d5d0d0;
  padding: 0 2rem;
}

body{
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
